.Nav {
    height: 50px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 50px;
    background: var(--gray);
    justify-content: center;
    z-index: 100;
}

.Nav a {
    text-decoration: none;
    padding: 15px;
    font-size: 1em;
    color: black;
}

.Nav a:hover {
    color: #F92E52;
}